html {
  font-family: Tahoma, Arial;
  height: 100vh;
}

body {
  height: 100% !important;
  overflow-x: hidden;
}

main {
  margin: auto;
}

nav {
  width: 100%;
  position: fixed !important;
  z-index: 3;
  transition: background-color 0.4s;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  padding-left: 140px !important;
}

.player-wrap {
  display: flex;
  margin: 56px auto 0 auto;
  align-items: flex-start;
  max-width: 1300px;
}

.videoPlayer {
  display: block;
  background-size: cover;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: black;
}

.yt-button {
  position: relative;
  margin: auto;
  width: 68px;
  height: 48px;
  background: url(images/ytb.png);
  cursor: pointer;
}

.videoPlayer:hover .yt-button {
  width: 68px;
  height: 48px;
  background: url(images/ytb-focus.png);
}

.videoPlayer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.page-wrapper {
  min-height: 100%;
}

.Editor {
  display: none;
  padding-bottom: 5px;
}

.playerContainer {
  margin: 0 auto 0 auto;
  position: relative;
}

.editContaier {
  left: 0px;
  right: 0px;
  width: 100%;
}

.separator {
  height: 9px;
  cursor: row-resize;
  position: absolute;
  left: 0px;
  right: 0px;
}

.separator:after {
  border-bottom: 1px solid gray;
  display: block;
  height: 3px;
  width: 20px;
  content: '';
  margin: 3px auto 0 auto;
  border-top: 1px solid gray;
}

.btn {
  color: white !important;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.btn span {
  font-size: 1em;
  width: 16px;
  height: 16px;
}

.btn:hover {
}

.controls .btn {
  font-size: 1.5em;
}

.controls .btn, .controls select {
  border-radius: 8px;
}

.stop {
  background-color: #FFAD40 !important;
}

.empty {
  background-color: #00800000 !important;  
}

.hidden {
  display: none;
}

.controls {
  display: none; /*flex*/
  justify-content: space-between;
  margin: 0 0.2em 0 0.2em;
  position: relative;
}

.editContaier .controls {
}

.controls, .controls select {
  font-size: 1em;
}

.langControls .btn {
  opacity: 0 !important;
  transition: height 0.2s;
}

.langControls:hover .btn, .pause .btn {
  opacity: 1 !important;
}

.playerSeptum {
  position: absolute;
  left: 0px;
  right: 15px;
  top: 0px;
  bottom: 0px;
  background: #FFF0;
  display: none;
  justify-content: center;
  align-items: center;
}

.internal .playerSeptum {
  display: flex;
}

.playerSeptum button {
  width: 68px;
  height: 48px;
  background: url(images/bb.png);
  cursor: pointer;
  border: none;
  color: white;
  display: none;
  font-size: 24px;
  z-index: 1;
}

.playerSeptum button:hover {
  background: url(images/bbf.png);
}

.langControls {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 9px;
  position: relative;
  top: 0px;
  display: flex;
  bottom: 0px;  
  min-height: 4em;
}

.trans-text {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  min-height: 6em;  
}

.empty-content, .empty .transText, .empty .transTextAll {
  display: none;
}

.empty .empty-content {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.player-area {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;  
}

.transText {
  font-size: 1.6em;
  line-height: 1.2em;
}

.transTextAll {
  font-size: 1.2em;
  line-height: 1em;
}

.langControls .btn {
  padding: 0px 0.5em; 
  margin: 0px 3px;
}

.langControls .left {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.langControls .right {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.transText, .transTextAll {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transText a {
  display: inline-block;
  margin: 0px 0.1em;
  cursor: pointer;
}

.transText a:hover {
}

iframe .ytp-chrome-top {
  display: none;
}

.editor {
  display: none;
}

.editContaier .player-area .add {
  display: none;
}

.editContaier .editor {
  display: block;
}

.timeList {
  display: block;
  width: 100%;
  margin-right: 5px;
}

.tooltip {
  background:white;
  color:#333;
  text-align:center;
  padding:6px 0;
  position:absolute;
  max-width:250px;
  z-index:9999;
  display:none;
  border-radius:3px;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  font-size: 1.5em;
  text-shadow:none;
}

.tooltip:before {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 10px dashed white;
  bottom: -10px;
  left:15px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  content:'';
  transform: rotate(180deg);
}

.file-menu {
  display: none;
}

main .content {
  margin: 1em;
}

main .content .item {
  margin: 1em 0.5em;
}

#uLogin {
  padding: 1em;
}

.my-clips {
  margin: 0 1em;
}

.list-container {
  overflow-y: auto;
}

.list-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.list-container::-webkit-scrollbar-track {
  background: #EEE; 
  border-radius: 5px;
}
 
.list-container::-webkit-scrollbar-thumb {
  background: #BBB; 
  border-radius: 5px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #AAA; 
}


.clip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.clip-list .image {
  height: 7em;
  margin: auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.clip-list .item {
  text-align: center;
  padding: 0.3em;
  flex-grow: 1;  
  max-width: 250px;
}

.clip-list .item .title {
  font-size: 0.8em;
}

.navbar-nav .user {
  display: none;
}

.navbar-nav a {
  cursor: pointer;
}

.item-controls {
  text-align: right;
  height: 0px;
}

.item-controls .btn {
  background: #7e6c6c73;
  margin-top: -60px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 0.6em;
}

.item {
  cursor: pointer;
}

.item .trash {
  font-size: 0.8em;
  padding: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}

.item:hover .trash {
  opacity: 1;
}

.selected .trash {
  opacity: 1 !important;
  background: red !important;
}

.my-clips h2 {
  margin: 2px 0px;
  font-size: 1.5rem;
}

.my-clips .delete {
  display: none;
}

.visible {
  display: block !important;
}

.select {
  display: block;
}

.select .dropdown-item {
  cursor: pointer;
}

.playlist {
  margin-top: 1em;
}

.playlist-title {
  font-size: 1.2em;
  font-weight: bold;
}

.playlist-title dt {
  display: none;
  margin-right: 1em;
  color: #444;
}

.select .dropdown-toggle-split {
}

input[name="playlist-input"] {
  margin-top: 5px;
  width: 100%;
  display: none;
}

.CTitle h2 {
  margin: 0px;  
  user-select: none;
  font-size: 1.7em;
}

.CPuzzle {
  padding: 0 1em;
}

.CPuzzle .top, .CPuzzle .bottom {
  min-height: 3em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  align-content: center;
}


.editContaier .CPuzzle .top, 
.editContaier .CPuzzle .bottom {
  min-height: 1em;  
}

.CPuzzle .top {
  border-bottom: 1px dashed gray;
}

.CPuzzle .top .word {
  margin: 0.1em;
}

.CPuzzle .cont {
  margin: 0.1em;
  border-radius: 8px;
}

.CPuzzle .word {
  border-radius: 8px;
  font-size: 1.4em;
  cursor: pointer;
  padding: 0 0.4em;
}

.editContaier .CPuzzle .word {
  font-size: 1em;  
  padding: 0 0.1em;
  border-radius: 3px;
}

.CPuzzle > div {
  display: flex;
}

.CPuzzle .trans {
  color: #b8b8b8;
  text-align: center;
  line-height: 1em;
  padding: 0.5em 0.2em;
}

.dropdown-item.shortcut {
  display: flex;
  justify-content: space-between;
}

.dropdown-item span {
  margin-left: 1em;
}

.modal-dialog .error {
  display: none;
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #0000004f;
  border-width: 1px;
  border-style: solid;
}

dt {
  font-weight: normal !important;
}

.data-panel {
  text-align: right;
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}

.editContaier .data-panel {
  display: none;
}

.editContaier .langControls {
  margin-bottom: 4px;  
}

.data-panel a {
  display: block;
  width: 100%;
}

.data-panel span {
  padding: 5px;
  font-size: 1.5em; 
}

.data-panel .item {
  text-align: center; 
  color: darkgray;
}

.data-panel .item div {
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu.show {
    display: block;
    box-shadow: 2px 2px 6px #0000007d;
}

.ya-share2 {
  padding: 5px 10px;
}

.page-footer {
  width: 100%;
  padding: 1em;
  position: fixed;
  bottom: 0px;
}

.page-footer p {
  padding: 0px;
  margin: 0px;
}

.descriptionDialog textarea,
#videoCaptions textarea {
  width: 100%;
  height: 200px;
}

#video-description, .CDescription {
  padding: 1em;
  text-indent: 2em;
}

#video-description h1 {
  font-size: 1.5em;
}

#word-hint {
  z-index: 100;
  position: absolute;
}

#word-hint > div {
  min-width: 160px;
  background: white;
  border: 1px solid #959595;
  border-radius: 0.2em;
  margin-bottom: 5px;  
  padding: 1em;
  text-align: left;
  display: block;
  box-shadow: 2px 2px 6px #0000007d;
  color: #212529;
}


#word-hint > div > div {
  white-space: nowrap;
}


#word-hint .glyphicon {
  cursor: pointer;
  padding: 5px;
  color: gray;
  margin-right: 3px;
}

#word-hint a:hover {
  color: black;
}

.hint-trans {
  margin-left: 27px;
}

.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a56b6b;
  margin-left: 1em;
  display: inline-block;
  position: relative;
}

.lwidth .video-title {
  width: calc(100% - 50px);
}

.navbar-title .lwidth {
  width: calc(100% - 50px);
}

.navbar-title .lwidth .btn-group {
  width: 100%;
}

.navbar-title .lwidth .btn-group .dropdown-toggle {
  width: 100%;
}

.navbar-title .lwidth .video-title {
  text-align: right;
}

.lwidth {
    text-align: left;
    display: none;
}

.navbar .navbar-title {
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: space-between;
}

.navbar-title .dropdown-toggle::after {
  margin: 0px 10px;
}

.navbar .clip-list div {
  display: flex;
  font-size: 13px;
  margin: 5px;
  color: darkslateblue;
  cursor: pointer;
}

.navbar .clip-list .image {
  width: 56px;
  height: 40px;
  flex-shrink: 0;
}

.navbar .clip-list .title {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussionDialog textarea, .discussionItem {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0px;
}

.discussionDialog textarea {
  width: 100%;
  border-color: #a59282 !important;
}

.send-block {
  text-align: right;
}

.discussionItem {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-right: 1em;
}

.discussionItem .user {
  font-size: 0.8em;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #93bbac;
  flex-shrink: 0;
}

.discussionDialog .myself {
  border-color: #0062cc;
  margin-left: 1em;
  margin-right: 0 !important;
}

.start-info {
  position: absolute;
  width: 45%;
  background: white;
  border-radius: 8px;
  padding: 1.2em;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  box-shadow: 2px 2px 6px #0000007d;
  top: 70px;
  margin-left: 20px;
  display: none;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.start-info .buttons {
  text-align: center;  
}