.playerContainer {
  width: <?=$width?>px;
}

.langControls {
  width: <?=$width?>px;
}

@media screen and (max-width: <?=$width + 200?>px) {
  .player-wrap {
    display: block;
  }

  .list-container {
    height: auto !important;
    overflow-y: auto !important;
  }
}

@media screen and (max-width: <?=$width?>px) {
  nav {
    width: auto;
    padding: 0.2em !important;
  }

  nav.bg-light {          
    background-color: #f8f9fa00 !important;
  }

  nav.bg-light:hover {          
    background-color: #f8f9faFF !important;
    box-shadow: 0 0 6px black;
  }

  .player-wrap {
    margin-top: 0px;          
  }

  .navbar-collapse {
    margin: 0.5em;
  }

  .navbar-toggler {
    background: #f8f9fa8c;
    width: 2em;
    height: 2em;
    padding: 0px;
  }

  .playerContainer {
    left: 0px;
    right: 0px;
    margin-top: 0px;
  }

  .controls {
  }

  .Editor {
  }

  .transText {
    font-size: 1.5em;
  }

  .transTextAll {
    font-size: 1em;
  }

  .langControls .btn {
    opacity: 1 !important;
  }
  
  .item .trash {
    opacity: 1;
  }

  .CPuzzle {
    padding: 0 !important;
  }

  .tooltip-layer {
    display: none;
  }

  .separator {
    display: none;
  }

  .langControls {
    margin-top: 2px;
  }

  .playerSeptum {
    display: flex;
  }
}